@use "../utilities" as *;

.App {
    min-height: 100vh;
    width: min(1200px, 96%);
    text-align: center;
    
    margin: 0 auto;
    padding-block: 1em; 
    


    @include mq("min", "medium") {
        text-align: left;
        padding: 1.5em 1em;
    }

    @include mq("min", "large") {
        padding-left: 1.8em 1em;
    }
}