@use "../utilities" as *;

.App {
    min-height: 100vh;
    text-align: center;
    
    padding-block: 1em; 

    display: grid;
    grid-template-rows: repeat(3, auto) 1fr auto;
    grid-template-areas: 
        "header"
        "selection"
        "activity-generator-btn"
        "recommendation"
        "footer";

    .header {
        grid-area: header;
    }

    .selection {
        grid-area: selection;
    }

    .activity-generator {
        grid-area: activity-generator-btn;
    }

    .recommendation {
        grid-area: recommendation;
    }

    .footer {
        grid-area: footer;
    }
}