@use "../utilities" as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * {
    border: 1px solid white;
} */

body {
    background-color: rgb(43, 43, 43);
    color: #fefefe;
    
    
    font-family: $ff-main;

}

.App {
    min-height: 100vh;
    width: min(800px, 96%);
    margin: 0 auto;
}