:root {
    --deg: 45deg;
    
    --clr-bg-green: hsl(150, 75%, 35%);
    --clr-bg-blue: hsl(210, 75%, 35%);
    --clr-txt-bluegreen: hsl(180, 75%, 25%);

    --clr-white: 0, 0%, 95%;
    --clr-black: 0, 0%, 5%;
}
